<div ng-include="'partials/navbar.html'"></div>

<div class="container">
	<h1>Employees</h1>

	<p>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat='employee in employees'>{{employee.firstname}}, {{employee.lastName}}</li>
		</ul>
	</p>

    <form novalidate name="myForm"
          ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 2000} }">

        <legend>Create User</legend>
        <label>Name</label>
        <input required type="text" id="name" name="name" ng-model="formConsultation.name" placeholder="User Name">
        <span ng-show="lastResponse.field==='name'">{{lastResponse.error}}</span>

        <label>Email</label>
        <input required type="email" id="email" name="email" ng-model="formConsultation.email" placeholder="ur email here">

        <label>Password</label>
        <input required type="password" id="pwd" name="pwd" ng-model="formConsultation.pwd" placeholder="ur own pwd here">
        <!--ng-disabled="myForm.$invalid"-->
        <button  ng-click="submitForm()" class="btn btn-primary">Create new Object</button>

        <span>{{formConsultation.name}}</span>
        <li ng-repeat="c in consultation">
            <ul>{{c.id}}</ul>
        </li>

    </form>
</div>
