<div ng-include="'partials/navbar.html'"></div>

<div class="container">
    <h1>Patient Details for Patient Nr: {{patient.id}}</h1>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Personal Information</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <td>
                        Gender:
                    </td>
                    <td>
                        {{patient.gender}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Title:
                    </td>
                    <td>
                        {{patient.title}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Birthday:
                    </td>
                    <td>
                        {{patient.birthday}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Firstname:
                    </td>
                    <td>
                        {{patient.firstname}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Lastname:
                    </td>
                    <td>
                        {{patient.lastname}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Middleinitial:
                    </td>
                    <td>
                        {{patient.middleinitial}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Bloodtype:
                    </td>
                    <td>
                        {{patient.bloodtype}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Contact Data</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <td>
                        Street:
                    </td>
                    <td>
                        {{patient.street}}
                    </td>
                </tr>
                <tr>
                    <td>
                        City:
                    </td>
                    <td>
                        {{patient.city}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Zip Code:
                    </td>
                    <td>
                        {{patient.zipcode}}
                    </td>
                </tr>
                <tr>
                    <td>
                        CountryCode:
                    </td>
                    <td>
                        {{patient.coutrycode}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Country:
                    </td>
                    <td>
                        {{patient.country}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Email:
                    </td>
                    <td>
                        {{patient.email}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Phone:
                    </td>
                    <td>
                        {{patient.phone}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Employment</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <td>
                        Occupation:
                    </td>
                    <td>
                        {{patient.occupation}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Company:
                    </td>
                    <td>
                        {{patient.company}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>